@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

/* global reset  */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

p {
  all: unset;
}

/* global style  */
:root {
  --primary-color: rgb(39 174 96);
  --secondary-color: rgb(22 160 133);
  --normal-text: rgb(52 73 94);
}

html {
  direction: rtl;
}

body {
  font-family: "Cairo", sans-serif;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  color: var(--secondary-color);
}

.primary-color {
  color: var(--secondary-color);
}

.primary-background {
  background-color: var(--primary-color);
}

.secondary-background {
  background-color: var(--secondary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.text-color {
  color: var(--normal-text);
}

.openSrouce * {
  font-size: 15px;
}

.mainApp {
  min-height: calc(100vh - 106px);
}

.copyrights {
  height: 50px;
}

button {
  padding-block: 7px !important;
}

button:hover {
  background-color: var(--primary-color) !important;
}

input {
  border: 2px solid var(--secondary-color);
  opacity: 0.6;
  padding-inline: 10px;
  padding-block: 2px;
}

table {
  display: none;
}

#wrong {
  background-color: #fddfdf;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 10px;
  display: none;
}
